@model ASPNetCoreForms.Models.ProductEditModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form asp-action="Create" asp-controller="Home" method="post">
        
        <label asp-for="Name">Name</label>
        <input type="text" asp-for="Name"/>
        <span asp-validation-for="Name"></span>

        <label asp-for="Rate">Rate</label>
        <input type="text"  asp-for="Rate"/>

        <label asp-for="Rating">Rating</label>
        <input type="text"  asp-for="Rating"/>
        
        <input type="submit" name="submit" />

    </form>
</body>
</html>
